<h1 i18n>Transation Filter - Case Detail</h1>
<div class="flex-start">
  <button mat-stroked-button color="accent" (click)="back()" i18n="@@Back"><i class="fas fa-reply-all"></i>
    Back</button>


  <button mat-stroked-button [matMenuTriggerFor]="menu" i18n="@@Functions">Functions <i
      class="fas fa-chevron-down"></i></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialog()" i18n="@@Rawdata"><i class="fas fa-sticky-note"></i> Rawdata</button>
    <button mat-menu-item color="dark-yellow" i18n="@@AttachFile"><i class="fas fa-paperclip"></i> Attach File</button>
    <button mat-menu-item i18n="@@AllFalseMatch" (click)="onClickAllFalseMatch()"><i class="fas fa-times"></i> All False Match</button>
    <button mat-menu-item i18n="@@AllTrueMatch" (click)="onClickAllTrueMatch()"><i class="fas fa-check"></i>All True Match</button>
  </mat-menu>
</div>
<hr>
<div class="row">
  <div class="col-xl-9 col-sm-12">
    <div class="table-container">
      <table mat-table [dataSource]="tableDataSource" multiTemplateDataRows matSort class="mat-elevation-z8">

        <!-- <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
          <td mat-cell *matCellDef="let element">
            {{element[column]}}
        </ng-container> -->

        <ng-container matColumnDef="matchedListRecordId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@ListRecordId">List Record Id</th>
          <td mat-cell *matCellDef="let row"
            [ngClass]="{'red': row.alertStatusCode === 1 , 'green': row.alertStatusCode === 2}">
            {{row.matchedListRecordId}} </td>
        </ng-container>

        <ng-container matColumnDef="matchedName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@MatchedName">Matched Name</th>
          <td mat-cell *matCellDef="let row"
            [ngClass]="{'red': row.alertStatusCode === 1 , 'green': row.alertStatusCode === 2}"> {{row.matchedName}}
          </td>
        </ng-container>

        <ng-container matColumnDef="matchType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@MatchType">Match Type</th>
          <td mat-cell *matCellDef="let row"
            [ngClass]="{'red': row.alertStatusCode === 1 , 'green': row.alertStatusCode === 2}"> {{row.matchType}} </td>
        </ng-container>

        <ng-container matColumnDef="rule">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@Rule">Rule</th>
          <td mat-cell *matCellDef="let row"
            [ngClass]="{'red': row.alertStatusCode === 1 , 'green': row.alertStatusCode === 2}"> {{row.rule}} </td>
        </ng-container>

        <ng-container matColumnDef="matchedListSubKey">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@ListSubKey">List Sub Key</th>
          <td mat-cell *matCellDef="let row"
            [ngClass]="{'red': row.alertStatusCode === 1 , 'green': row.alertStatusCode === 2}">
            {{row.matchedListSubKey}} </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="element-detail row" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="container" *ngIf="listDetail.length === 0">
                <mat-progress-bar mode="buffer"></mat-progress-bar>
              </div>
              <div class="row" *ngIf="listDetail.length !== 0">
                <div class="element-description overflow-auto h-50vh col-xl-9 col-lg-12">
                  <table class="table table-dark table-striped table-bordered">
                    <!-- <table> -->
                    <tbody>
                      <tr *ngFor="let detail of listDetail">
                        <th scope="row">{{detail.key}}</th>
                        <td [innerHtml]="detail.value"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="element-select col-xl-3 col-lg-12">
                  <mat-form-field>
                    <mat-label i18n="@@Status">Status</mat-label>
                    <mat-select [(value)]="element.alertStatusCode">
                      <mat-option *ngFor="let status of alertStatus" [value]="status.value"
                        (click)="onClickDecision(element, status.value)">{{status.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;let i = dataIndex" class="element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element; getListDetail(expandedElement, target)">

        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4" i18n="@@NoMatch">No data matching the filter "{{input.value}}"</td>
        </tr>


      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>

  <div class="col-xl-3 col-md-12 h-70vh overflow-auto">
    <mat-tab-group>
      <mat-tab label="Hit Tags" i18n-label="@@HitTags">
        <table class="table table-dark blue">
          <tbody>
            <!-- <tr>
              <th scope="row" colspan="2">Hit Colunms</th>
            </tr> -->
            <tr *ngFor="let column of distinctColumns">
              <th scope="row" [ngClass]="{highlight: column.highlight}">{{column.tagName}}</th>
              <td [ngClass]="{highlight: column.highlight}">{{column.matchData}}</td>
            </tr>
          </tbody>
        </table>
      </mat-tab>
      <mat-tab label="Audit" i18n-label="@@Audit">
        Audit
      </mat-tab>
      <mat-tab label="Attachment" i18n-label="@@Attachment">
        Attachment
      </mat-tab>
    </mat-tab-group>

  </div>
</div>

<hr>


<div class="flex-end">
  <mat-form-field>
    <mat-label i18n="@@CaseResolution">CaseResolution</mat-label>
    <mat-select [(value)]="caseResolution" [disabled]="newAlerDecisionCount>0">
      <mat-option *ngFor="let status of l1CaseStatus" [value]="status.value">{{status.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button [ngClass]="{'mat-accent' : caseResolution === 2, 'mat-warn': caseResolution === 3}"
    class="button-max-height" i18n="@@Submit" [disabled]="caseResolution === 0" (click)="onClickSubmit()">
    <i class="fas fa-forward"></i> Submit
  </button>
</div>
