.table-container {
  position: relative;
  max-height: 90vh;
  overflow: auto;
}

.h-30vh {
  max-height: 27vh;
}

.h-50vh {
  max-height: 50vh;
}

.h-70vh {
  max-height: 70vh;
}

.filter-input {
  outline: 0;
  border: 0;
  margin: 0 auto;
  width: 80%;
  display: block;
}

table {
  width: 100%;

  .blue {
    background-color: yellow;
  }
}


::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #69f0ae !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #69f0ae !important;
  ;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.example-expanded-row):hover {
  background: rgb(104, 103, 103);
}

tr.element-row:not(.example-expanded-row):active {
  background: rgb(78, 78, 78);
}

.element {
  &-detail {
    overflow: hidden;
    display: flex;
  }

  &-description {
    padding: 16px;
  }

  &-select {
    padding-top: 16px;
  }
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  >button {
    margin: 0 2px;
  }
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  >button {
    margin: 0 2px;
  }
}
