<h1 i18n>Transation Filter - Case Detail</h1>
<div class="flex-start">
  <button mat-stroked-button color="accent" (click)="back()" i18n="@@Back"><i class="fas fa-reply-all"></i> Back</button>
  <button mat-stroked-button (click)="openDialog()" i18n="@@Rawdata"><i class="fas fa-sticky-note"></i> Rawdata</button>
  <button mat-stroked-button color="dark-yellow" i18n="@@AttachFile"><i class="fas fa-paperclip"></i> Attach File</button>
</div>
<hr>
<div class="row">
  <div class="col-xl-9 col-sm-12">
    <div class="table-container">
      <table mat-table [dataSource]="tableDataSource" multiTemplateDataRows matSort class="mat-elevation-z8">

        <!-- <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
          <td mat-cell *matCellDef="let element">
            {{element[column]}}
        </ng-container> -->
        <ng-container matColumnDef="matchedListRecordId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@ListRecordId">List Record Id</th>
          <td mat-cell *matCellDef="let row"> {{row.matchedListRecordId}} </td>
        </ng-container>

        <ng-container matColumnDef="matchedName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@MatchedName">Matched Name</th>
          <td mat-cell *matCellDef="let row"> {{row.matchedName}} </td>
        </ng-container>

        <ng-container matColumnDef="matchType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@MatchType">Match Type</th>
          <td mat-cell *matCellDef="let row"> {{row.matchType}} </td>
        </ng-container>

        <ng-container matColumnDef="rule">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@Rule">Rule</th>
          <td mat-cell *matCellDef="let row"> {{row.rule}} </td>
        </ng-container>

        <ng-container matColumnDef="matchedListSubKey">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@ListSubKey">List Sub Key</th>
          <td mat-cell *matCellDef="let row"> {{row.matchedListSubKey}} </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="element-detail row" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="container" *ngIf="listDetail.length === 0">
                <mat-progress-bar mode="buffer"></mat-progress-bar>
              </div>
              <div class="row" *ngIf="listDetail.length !== 0">
                <div class="element-description overflow-auto h-50vh col-xl-9 col-lg-12">
                  <table class="table table-dark table-striped table-bordered">
                    <!-- <table> -->
                    <tbody>
                      <tr *ngFor="let detail of listDetail">
                        <th scope="row">{{detail.key}}</th>
                        <td [innerHtml]="detail.value"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="element-select col-xl-3 col-lg-12">
                  <mat-form-field appearance="fill">
                    <mat-label>State</mat-label>
                    <mat-select>
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;let i = dataIndex" class="element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element; getListDetail(expandedElement, target)">

        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4" i18n="@@NoMatch">No data matching the filter "{{input.value}}"</td>
        </tr>


      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>

  <div class="col-xl-3 col-md-12 h-70vh overflow-auto">
    <mat-tab-group>
      <mat-tab label="Hit Columns" i18n-label="@@HitColumns">
        <table class="table table-dark blue">
          <tbody>
            <!-- <tr>
              <th scope="row" colspan="2">Hit Colunms</th>
            </tr> -->
            <tr *ngFor="let column of distinctColumns">
              <th scope="row" [ngClass]="{highlight: column.highlight}">{{column.tagName}}</th>
              <td [ngClass]="{highlight: column.highlight}">{{column.matchData}}</td>
            </tr>
          </tbody>
        </table>
      </mat-tab>
      <mat-tab label="Audit" i18n-label="@@Audit">
        Audit
      </mat-tab>
      <mat-tab label="Attachment" i18n-label="@@Attachment">
        Attachment
      </mat-tab>
    </mat-tab-group>

  </div>
</div>

<hr>


<div class="flex-end">
  <button mat-raised-button color="accent"><i class="fas fa-forward"></i> Recomman Release</button>
  <button mat-raised-button color="warn"><i class="fas fa-stop"></i> Recomman Block</button>
</div>
